#### Importing Libraries

In [1]:
import pandas as pd
import re

#### Importing Dataset

In [2]:
dataset = pd.read_csv('IMDB Dataset.csv')
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

#### Function to remove HTML Tags and URLs

In [3]:
def remove_tags_urls(text):
    # Compile a regular expression pattern that matches all HTML tags
    pattern = re.compile('<.*?>')
    # Use the pattern to replace all occurrences of HTML tags with an empty string
    text = pattern.sub(r'', text)
    # Return the resulting text
    return text

In [4]:
text = "The <b>quick brown fox</b> <a href='https://en.wikipedia.org/wiki/Jumps'>jumps</a> over the <i>lazy dog</i>. Check out this <a href='https://www.example.com'>example website</a> for more information about NLP. And here's another great resource on <a href='https://en.wikipedia.org/wiki/Regular_expression'>regular expressions</a> that can help with removing URLs from text."

In [5]:
remove_tags_urls(text)

"The quick brown fox jumps over the lazy dog. Check out this example website for more information about NLP. And here's another great resource on regular expressions that can help with removing URLs from text."

In [6]:
dataset['review'] = dataset['review'].apply(remove_tags_urls)
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive