#### Importing Libraries

In [1]:
import pandas as pd
import re
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [2]:
exclude = string.punctuation

#### Importing Dataset

In [3]:
dataset = pd.read_csv('IMDB Dataset.csv')
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

#### Removing Punctuation Marks

In [4]:
text = "The quick brown fox jumps over the lazy dog. Can you believe it? This is an example sentence with punctuation marks! Here's another one: How are you doing today? I'm doing well, thank you for asking. Don't forget to bring your umbrella, it's supposed to rain later. It's been a long day, but we're almost done. Let's finish strong!"

#### Method - 1

In [5]:
def remove_punctuation(text):
    # Define a list of punctuation characters to exclude from the text
    exclude = set(string.punctuation)
    # Iterate over each character in the text
    for char in text:
        # If the character is a punctuation mark, replace it with an empty string
        if char in exclude:
            text = text.replace(char, '')
    # Return the resulting text with punctuation marks removed
    return text

In [6]:
remove_punctuation(text)

'The quick brown fox jumps over the lazy dog Can you believe it This is an example sentence with punctuation marks Heres another one How are you doing today Im doing well thank you for asking Dont forget to bring your umbrella its supposed to rain later Its been a long day but were almost done Lets finish strong'

In [7]:
dataset['review'] = dataset['review'].apply(remove_punctuation)
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production br br The filmin...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive

#### Method - 2

In [8]:
def remove_punctuation2(text):
    # Compile a regular expression pattern that matches all punctuation characters
    pattern = re.compile('[^\w\s]')
    # Use the pattern to replace all occurrences of punctuation characters with an empty string
    text = pattern.sub(r'', text)
    # Return the resulting text
    return text

In [9]:
remove_punctuation2(text)

'The quick brown fox jumps over the lazy dog Can you believe it This is an example sentence with punctuation marks Heres another one How are you doing today Im doing well thank you for asking Dont forget to bring your umbrella its supposed to rain later Its been a long day but were almost done Lets finish strong'

In [10]:
dataset['review'] = dataset['review'].apply(remove_punctuation2)
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production br br The filmin...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive